@page "/fotomodeloverzicht"
@inherits FotoModelOverzichtBase

<h1 class="page-title">Alle Fotomodellen</h1>

@if (FotoModellen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th></th>*@
                <th>Fotomodelnummer</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Fotomodel in FotoModellen)
            {
                <tr>
                    @*<td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>*@
                    <td>@Fotomodel.FotoModelId</td>
                    <td>@Fotomodel.Voornaam</td>
                    <td>@Fotomodel.Achternaam</td>
                    <td>
                        <a href="@($"Fotomodeldetail/{Fotomodel.FotoModelId}")" class="btn btn-primary table-btn">
                            @*<i class="fas fa-info-circle"></i>*@
                            Detail
                        </a>
                        <a href="@($"Fotomodeledit/{Fotomodel.FotoModelId}")" class="btn btn-primary table-btn">
                            @*<i class="fas fa-edit"></i>*@
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddFotoModel" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<QuickRegisterFotoModel @ref="QuickRegisterFotoModel" CloseEventCallback="@QuickRegisterFotoModel_OnDialogClose"></QuickRegisterFotoModel>